h1 {
  text-align: center;
  color: rgb(12, 150, 141);
}

h3 {
  margin: 40px;
  text-align: center;
  color: rgb(112, 50, 135);
}

h5 {
  margin: 40px;
  text-align: center;
  color: rgb(239, 180, 43);
}
